# Files and directories created by pub
Task#2/app/.packages
Task#2/app/.pub/
Task#2/app/build/
# Remove the following pattern if you wish to check in your lock file
Task#2/app/pubspec.lock

# Directory created by dartdoc
Task#2/app/doc/api/
